fileExemple/bin/Debug/net6.0/appsettings.Development.json
fileExemple/bin/Debug/net6.0/appsettings.json
fileExemple/bin/Debug/net6.0/Bogus.dll
fileExemple/bin/Debug/net6.0/ClosedXML.dll
fileExemple/bin/Debug/net6.0/DocumentFormat.OpenXml.dll
fileExemple/bin/Debug/net6.0/ExcelNumberFormat.dll
fileExemple/bin/Debug/net6.0/fileExemple.deps.json
fileExemple/bin/Debug/net6.0/fileExemple.dll
fileExemple/bin/Debug/net6.0/fileExemple.exe
fileExemple/bin/Debug/net6.0/fileExemple.pdb
fileExemple/bin/Debug/net6.0/fileExemple.runtimeconfig.json
fileExemple/bin/Debug/net6.0/Irony.dll
fileExemple/bin/Debug/net6.0/MediatR.Contracts.dll
fileExemple/bin/Debug/net6.0/MediatR.dll
fileExemple/bin/Debug/net6.0/MediatR.Extensions.Microsoft.DependencyInjection.dll
fileExemple/bin/Debug/net6.0/Microsoft.OpenApi.dll
fileExemple/bin/Debug/net6.0/SixLabors.Fonts.dll
fileExemple/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
fileExemple/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
fileExemple/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
fileExemple/bin/Debug/net6.0/System.IO.Packaging.dll
fileExemple/bin/Debug/net6.0/XLParser.dll
fileExemple/obj/fileExemple.csproj.nuget.dgspec.json
fileExemple/obj/fileExemple.csproj.nuget.g.props
fileExemple/obj/fileExemple.csproj.nuget.g.targets
fileExemple/obj/project.assets.json
fileExemple/obj/project.nuget.cache
fileExemple/obj/staticwebassets.pack.sentinel
fileExemple/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
fileExemple/obj/Debug/net6.0/apphost.exe
fileExemple/obj/Debug/net6.0/fileExemple.AssemblyInfo.cs
fileExemple/obj/Debug/net6.0/fileExemple.AssemblyInfoInputs.cache
fileExemple/obj/Debug/net6.0/fileExemple.assets.cache
fileExemple/obj/Debug/net6.0/fileExemple.csproj.AssemblyReference.cache
fileExemple/obj/Debug/net6.0/fileExemple.csproj.CopyComplete
fileExemple/obj/Debug/net6.0/fileExemple.csproj.CoreCompileInputs.cache
fileExemple/obj/Debug/net6.0/fileExemple.csproj.FileListAbsolute.txt
fileExemple/obj/Debug/net6.0/fileExemple.dll
fileExemple/obj/Debug/net6.0/fileExemple.GeneratedMSBuildEditorConfig.editorconfig
fileExemple/obj/Debug/net6.0/fileExemple.genruntimeconfig.cache
fileExemple/obj/Debug/net6.0/fileExemple.GlobalUsings.g.cs
fileExemple/obj/Debug/net6.0/fileExemple.MvcApplicationPartsAssemblyInfo.cache
fileExemple/obj/Debug/net6.0/fileExemple.MvcApplicationPartsAssemblyInfo.cs
fileExemple/obj/Debug/net6.0/fileExemple.pdb
fileExemple/obj/Debug/net6.0/project.razor.json
fileExemple/obj/Debug/net6.0/staticwebassets.build.json
fileExemple/obj/Debug/net6.0/ref/fileExemple.dll
fileExemple/obj/Debug/net6.0/refint/fileExemple.dll
